#logo {
	margin-left: 3em;
	width: 500px;
}
.slide_title {
	
}
.heading {
	font-family: 'Crete Round', serif;
}
.slide_body {
	font-family: 'Open Sans', sans-serif;
}

#teamText{
	font-size: 1.2em;
}
ul {
	font-size: 1em;
}

li ul li{
	font-size: 0.8em;
}
.background .heading {
	font-size: 4em;
}
.background {
	width: 5000px;
}

#team {
	height: 900px;
}
#status {
	width: 1300px;
}
.img_only {
	float:left;
}
